.filters {
  display: flex;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  margin-bottom: 2rem;
}

.filters .most-popular-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product-page > .filters > .most-popular-container {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 1070px) {
  #popular-8 {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  #popular-7 {
    display: none;
  }
}

#popular-7,
#popular-8 {
  display: block;
}

.most-popular-title h2 {
  text-align: center;
  font-family: "Poppins-Medium", Helvetica;
  font-size: x-large;
  justify-content: flex-start;
  padding-bottom: 1rem;
  font-style: normal;
}

.filters .category {
  width: 120px;
  margin: 10px;
  background-color: var(--base-gray-background);
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border: 1px #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease-out;
  cursor: pointer;
  
  &:hover {
    transform: scale(1.05);
  }

  @media screen and (max-width: 800px) {
    width: 60px;
  }
}

.filters .category-active {
  margin: 10px;
  background-color: var(--base-gray-background);
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border: 1px #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #eb6d20;
  transition: transform 0.4s ease-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
  }
}

.filters .image-container {
  position: relative;
  height: auto;
  width: 100%;
}

.filters .image {
  height: 85px;
  width: 85px;
  border-radius: 5px;

  @media screen and (max-width: 800px) {
    height: 40px;
    width: 40px;
  }
}

.filters .product-info {
  font-family: var(--body-texts-text-1-font-family);
  color: #828282;
  font-size: 12px;
  margin: 5px 0 5px 0;
}

.most-popular-title {
  box-sizing: border-box;
}

.most-popular-title h1 {
  font-family: "Poppins-Medium", Helvetica;
  font-size: xx-large;
  display: flex;
  padding-bottom: 1rem;
  font-style: normal;
  color: #555555;
}

@media screen and (min-width: 851px) {
  .filters .link-most-popular {
    text-decoration: none;
    color: var(--color-text-text);
  }
}
