.App {
    width: 100vw;
    margin: 17rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

@media (min-width: 800px) {
  .App {
    margin: 8rem auto;
    width: 80vw;
  }
}
